{% extends 'base.html' %}

{% block content %}
  <style>
    body {
      background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    }
  </style>
  <h1>TODO List</h1>
  <a href="{% url 'todo:index-create' %}" class="btn btn-success mb-3">Create New</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th>Created At</th>
        <th>Deadline</th>
        <th>Done</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.content }}</td>
          <td>{{ task.created_at }}</td>
          <td>{{ task.deadline }}</td>
          <td>
            {% if task.is_done %}
              <a href="{% url 'todo:task-remove-or-assign' pk=task.pk %}" class="btn btn-warning">
                Undo
              </a>
            {% else %}
              <a href="{% url 'todo:task-remove-or-assign' pk=task.pk %}" class="btn btn-success">
                Complete
              </a>
            {% endif %}
          </td>
          <td>
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% empty %}
              No tags
            {% endfor %}
          </td>
          <td>
            <a href="{% url 'todo:index-update' task.pk %}" class="btn btn-primary">Edit</a>
            <form method="post" action="{% url 'todo:index-delete' task.pk %}" class="d-inline-block">
              {% csrf_token %}
              <a href="{% url 'todo:index-delete' task.pk %}" class="btn btn-danger">Delete</a>
            <form method="post" action="{% url 'todo:index-delete' task.pk %}" class="d-inline-block">
            </form>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No tasks yet</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
